<html>
    <head>
        <title> Catálogo de Produtores </title>
    </head>  
    {% block content %}
    <form method='GET' action="{% url 'produtores' %}">
        <input type="text" name="search" placeholder='Buscar por município...'>
        <button type='submit'>Buscar</button>
    </form>
        <body>
            <h1> Catálogo de Produtores</h1>
            {% for produtor in produtores %}
                <h3>
                    {{ produtor.full_name}} - {{ produtor.city }} - {{ produtor.state}}
                </h3>
                <h4>
                    Contato: {{ produtor.email_adress }}
                </h4>
            {% endfor %}
        </body>
    {% endblock %}
</html>