# fly.toml app configuration file generated for connecterra

app = 'connecterra'
primary_region = 'iad'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = 'python manage.py migrate --noinput'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

# Volume persistente para o banco SQLite
[mounts]
  source = "connecterra_data"
  destination = "/data"

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'