# Core do Projeto
django>=5.0,<6.0
django-extensions

# Utilitários e Requisições
requests>=2.31.0
urllib3>=2.0.0
python-dateutil>=2.8.2

# Segurança e Autenticação
PyJWT>=2.7.0
cryptography>=41.0.0

# Processamento de Imagens e Estilização
pillow>=10.2.0
Pygments>=2.17.2

# Ambiente e Servidor
gunicorn; sys_platform != 'win32'
whitenoise>=6.6.0